<ion-header>
  <img src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>


<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>點燈資料</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>光明燈</ion-card-title>
    </ion-card-header>
    <form action="" method="post">
      <div>
        <label for="">姓名：</label>
        <input type="text" placeholder="請輸入祈福者姓名">
      </div>
      <div>
        <label for="">性別：</label>
        <input type="radio" name="" id="">男生
        <input type="radio" name="" id="">女生
      </div>
      <div>
        <label for="">生日：</label>
        <input type="date" placeholder="請輸入祈福者生日">
      </div>
      <div>
        <label for="">通訊地址：</label>
        <input type="text" placeholder="請輸入祈福者居住地址">
      </div>
      <div>
        <label for="">價錢：</label>
        <input type="radio" name="" id="">500
        <input type="radio" name="" id="">300
      </div>
      <ion-button expand="block" size="small" color="secondary">確定</ion-button>
    </form>
  </ion-card>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button size="small">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
