<ion-header>
  <img src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>消災樂捐</p>
  </div>

  <ion-card *ngFor="let i of pagedata" (click)="showDetail(i)">
    <img src="./assets/icon/{{i.imageurl}}" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{i.name}}</ion-card-subtitle>
      <ion-card-title>{{i.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{i.text1}}</p>
      <p>{{i.text2}}</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end" [routerLinkActive]="['/info']" (click)="showDetail()">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
