<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>祈福專區</p>
  </div>


  <ion-card *ngFor="let item of pagedata" (click)="showDetail(item)">
    <img src="{{item.imageurl}}" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.text1}}</p>
      <p>{{item.text2}}</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end" [routerLinkActive]="['/info']" >
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <div class="block"></div>
</ion-content>
