<ion-header >
  <ion-slides class="slider-box" options="options" slider="data.slider">
    <ion-slide *ngFor="let i of  barpic ">
<img   src="../../../assets/images/news/{{i.name}}"  (click)="showDetail()">
    </ion-slide>
  </ion-slides>
</ion-header>
<ion-content id="content">
  <div id="text">
    <p>565656565656565</p>
  </div>
  <img src="../../../assets/images/{{imgtheone}}.png " alt="" (click)="nextgod() " id="gods" >


  <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?height=230&wkst=1&bgcolor=%231a3883&ctz=Asia%2FTaipei&showTitle=0&showNav=0&showDate=1&showPrint=0&showTabs=1&showTz=0&showCalendars=0&src=YXZwc2todGRhYWtocnBtOWgwbTNhbW1uMm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23B39DDB" style="border-width:0" width="480" height="230" frameborder="0" scrolling="no"></iframe>


    <!--
    <div class="date">
      <p>2022年8月</p>
      <h3>1</h3>
      <p>星期ㄧ</p>
    </div>

    -->

    
    <div class="fortune">
    
   <!--   <div>
        <p>壬寅年 四月初七 立夏</p>
        <p>相沖 屬虎(甲寅，49歲)</p>
      </div>
      <div>
        <div>
          <p>開光 出行 嫁娶</p>
        </div>
        <div>
          <p>動土 移徙 開市</p>
        </div>
      </div> -->
    </div>
    
  </div>
</ion-content>