<ion-header>
<swiper  style="text-align:center ;">
  <ng-template swiperSlide  *ngFor="let i of bannerimgs ">
    <img class="header" src="./assets/images/news/{{i.name}}" alt="" >
  </ng-template>
</swiper>
</ion-header>
<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <div>
    <swiper [config]="swiperConfig" >
      <ng-template swiperSlide>
        <img src="./assets/images/mz_q.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./assets/images/fdzs_q.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img src="./assets/images/yl_q.png" alt="">
      </ng-template>
    </swiper>
  </div>
<div style="text-align: center;">
  <iframe src="https://calendar.google.com/calendar/embed?src=avpskhtdaakhrpm9h0m3ammn2o%40group.calendar.google.com&ctz=Asia%2FTaipei" style="border: 0" width="480" height="230" frameborder="0" scrolling="no"></iframe>
</div>

  <!--
  <div class="calendar">
    <div class="date">
      <p>2022年8月</p>
      <h3>1</h3>
      <p>星期ㄧ</p>
    </div>
    <div class="fortune">
      <div class="fortune_text1">
        <p>壬寅年 四月初七 立夏</p>
        <p>相沖 屬虎(甲寅，49歲)</p>
      </div>
      <div class="fortune_text2">
        <div class="lucky">
         <p>宜</p>
         <ul>
           <li>開光</li>
           <li>出行</li>
           <li>嫁娶</li>
         </ul>
        </div>
        <div class="bad">
         <p>忌</p>
         <ul>
           <li>動土</li>
           <li>移徙</li>
           <li>開市</li>
           <li>破土</li>
           <li>安葬</li>
         </ul>
        </div>
      </div>
    </div>
  </div>
-->
</ion-content>
