

ion-card {
  img{
    width: 100%;
    position: relative;
  }
  ion-card-title{
    padding: 5px;
    position: absolute;
    top: -70px;
    left: 30px;
    writing-mode: vertical-lr;
    color: #fff;
    background: #eb445a;
    font-weight: 400;
    span{
      font-size: 20px;
    }
    .normalSet{
      writing-mode:horizontal-tb;
    }
  }
  .price{
    font-weight: bold;
  }

  ion-card-subtitle {
    text-align: right;
  }
}
