<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>


<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>祈福燈種</p>
  </div>
  <ion-card>
    <img src="./assets/icon/燈種圖 (1).png" alt="">
    <ion-card-header>
      <ion-card-subtitle>光明燈</ion-card-subtitle>
      <ion-card-title>光明燈</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>點燈益處：元辰光彩 前途光明</p>
      <p class="price">NT$ 1000/500/300</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end" (click)="showDetail()">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <img src="./assets/icon/燈種圖 (1).png" alt="">
    <ion-card-header>
      <ion-card-subtitle>太歲燈/安太歲</ion-card-subtitle>
      <ion-card-title>太歲燈<br><span class="normalSet">/</span><span>安太歲</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>點燈益處：消災解厄 平安吉祥</p>
      <p>安太歲NT$200為無點燈</p>
      <p class="price">NT$ 500/300/200</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <img src="./assets/icon/燈種圖 (1).png" alt="">
    <ion-card-header>
      <ion-card-subtitle>文昌燈/斗</ion-card-subtitle>
      <ion-card-title>文昌燈<br><span class="normalSet">/</span><span>文昌斗</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>點燈益處：學業精進 仕途順遂</p>
      <p>點斗資訊：一戶最多可報名10人 </p>
      <p>同一人如有安同類型斗 則不需再點同類型燈</p>
      <p class="price">NT$ 3600/500</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <img src="./assets/icon/燈種圖 (1).png" alt="">
    <ion-card-header>
      <ion-card-subtitle>財神燈/斗</ion-card-subtitle>
      <ion-card-title>財神燈<br><span class="normalSet">/</span><span>財神斗</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>點燈益處：財利廣進 迎祥納福</p>
      <p>點斗資訊：一戶最多可報名10人</p>
      <p>同一人如有安同類型斗 則不需再點同類型燈</p>
      <p class="price">NT$ 3600/500</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <img src="./assets/icon/燈種圖 (1).png" alt="">
    <ion-card-header>
      <ion-card-subtitle>華陀燈/斗</ion-card-subtitle>
      <ion-card-title>華陀燈<br><span class="normalSet">/</span><span>華陀斗</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>點燈益處：護佑身心 永保安康</p>
      <p>點斗資訊：一戶最多可報名10人 </p>
      <p>同一人如有安同類型斗 則不需再點同類型燈</p>
      <p class="price">NT$ 3600/500</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <ion-card>
    <img src="./assets/icon/燈種圖 (1).png" alt="">
    <ion-card-header>
      <ion-card-subtitle>姻緣燈</ion-card-subtitle>
      <ion-card-title>姻緣燈</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>點燈益處：天賜良緣 生活美滿</p>
      <p class="price">NT$ 500</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>

</ion-content>
