<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>


<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>祈福燈種</p>
  </div>
  <ion-card  (click)="showDetail()" *ngFor="let item of pagedata">
    <img src="{{item.url}}" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.content1}}</p>
      <p>{{item.content2}}</p>
      <p>{{item.content3}}</p>
      <p class="price">{{item.price}}</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-button color="danger" size="small" slot="end">
        立即預約
      </ion-button>
    </ion-toolbar>
  </ion-card>
  <div class="block"></div>


</ion-content>
