<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>服務預約</p>
  </div>

  <ion-accordion-group>
    <ion-accordion value="{{item.title}}"  *ngFor="let item of pagedata">
      <ion-item slot="header" color="light">
        <ion-label>{{item.title}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>{{item.content1}}</p>
        <p>{{item.content2}}</p>
        <p>{{item.content3}}</p>
        <p>{{item.content4}}</p>
        <p>{{item.content5}}</p>
        <p>{{item.content6}}</p>
        <button (click)="showDetail()">立即預約</button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
