
ion-accordion-group{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;
  ion-accordion{
    border-radius: 12px;
    button{
      padding: 10px;
      display: block;
      margin: auto;
    }
  }
}
