ion-slides {

  ion-slide {
    display: flex;
    flex-direction: column;
  }
}




.titleBg {
  text-align: center;
  margin-top: 10px;
  position: relative;


  p {
    position: absolute;
top: -8px;
right: 60px;
    font-size: 20px;
    color: #fff;
  }
}
