<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>歷史介紹</p>
  </div>
  <div class="history_text">
    <p>臺中市旱溪媽祖廟－「樂成宮」之歷史淵源，溯自乾隆初年，林氏祖先渡臺拓墾，為冀求一帆風順及其墾業順利，遂恭迎湄洲天后宮之「老二媽」金尊一道來臺，林氏一行人行經至本宮現址因神靈顯異乃擇定聖地，暫奉祀神衹於此。
      時光荏苒，眾等皆拓墾有成，有志人士乃於清朝乾隆十八年（1753），毅然創建「樂成宮」於現址，供信徒朝夕頂禮膜拜。</p>
    <div class="img_text">
      <img src="./assets/icon/history1.png" alt="">
      <span>▲民國五十八年之廟貌 張茂紀∕提供</span>
    </div>

    <div class="img_text">
      <img src="./assets/icon/history2.png" alt="">
      <span>▲民國七十三年前之廟貌</span>
    </div>
    <p>
      清道光六年（1826）亦有一次重建。迨至大正十年（1921）因人口增加聚落形成，為因應日益增加之信眾，旱溪庄保正林源泉、張昧、賴顯柴、賴為堯、林阿堂、林同、林均等人推動重建工程，工程萬端艱辛歷經數載之施工，廟宇正殿於大正十三年（1924）建造完成，三川殿於昭和四年（1929）竣工及至民國八十年（1991）擴建後殿及左右護龍。
    </p>
    <div class="img_text">
      <img src="./assets/icon/history3.png" alt="">
      <span>▲民國八十二年前之廟貌</span>
    </div>
    <div class="img_text">
      <img src="./assets/icon/history4.png" alt="">
      <span>▲民國八十八年九二一地震前之廟貌</span>
    </div>
    <p>
      民國八十八年（1999）九二一大地震「樂成宮」的正殿及三川殿大木結構柱、樑、榫亦有位移現象，屋頂及屋頂上的剪黏皆嚴重損壞，幸經政府於民國九十二年（2003）二月二十八日發包施工，至民國九十三年（2004）三月三十一日竣工，至此「樂成宮」宏偉莊嚴完整之廟宇建築終告重現。
    </p>
    <div class="img_text">
      <img src="./assets/icon/history5.png" alt="">
      <span>▲「穿雨衣的古蹟」九二一地震後以帆布覆蓋保護廟體</span>
    </div>
    <p>
      為保存珍貴文化資產，特將屋頂十五件大型玻璃剪黏拆卸，並特請原匠師新竹鄭勝台兄弟修復後，贈與國立自然科學博物館永久保存典藏。自然科學博物館亦特於民國九十二年十一月至九十三年三月十五日於博物館陽光走道舉行「裝扮旱溪媽祖的家－樂成宮剪黏裝修藝術」特展。綜觀「樂成宮」的創建、修葺、擴建，有如一部地方開拓史。
    </p>
    <div class="img_text">
      <img src="./assets/icon/history6.png" alt="">
      <span>▲科博館特展</span>
    </div>
  </div>
</ion-content>
