<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>歷史介紹</p>
  </div>
  <div class="activity_text">
    <p>
      「旱溪媽祖遶境十八庄」的由來，歷史相當悠久，相傳在清朝道光初年，「大臺中地區」部分地區稻作，發生烏龜仔病蟲害，蔓延情形十分嚴重，當地農民深以為苦，遂前往樂成宮恭迎「旱溪媽祖」前往遶境，於農曆三月初一下哩仔，初二阿密哩，初三五張犁，初四瓦磘仔，初五詹厝園，初六大突寮，初七田寮仔，初八涼傘樹，初九內新庄，初十車籠埔、十一塗城、十二草湖、十三阿罩霧、十四柳仔湳、十五吳厝庄、十六丁台、十七喀哩，十八石螺潭，十九溪心埧，
      （早期喀哩、石螺潭、溪心埧三庄遶境日期每年輪流舉行，後因吃宴及陣頭常會記錯日期跑錯庄頭，於是統一於十七日三庄同時舉行遶境活動），
      二十前竹、仁德、九德、樹仔下、樹仔腳、麻糬埔、南屯、土庫、半平厝、東勢仔，廿一新平，廿二宜欣，廿三旱溪本庄。</p>
    <img src="./assets/icon/activity1.png" alt="">
    <p>
      當旱溪媽於農曆三月初一在下哩仔出巡遶境之時，忽然烏雲密佈，天降滂沱大雨，烏龜蟲立即被掃滅殆盡，接著一庄又一庄均神到蟲除，農民重獲生機，咸認係媽祖威靈顯赫所致。由於十八庄民對旱溪媽感恩加上遶境的特殊宗教儀式，也因此臺中地區一帶，有一句流傳俗諺：「旱溪媽祖蔭外庄」，寓意著外庄信徒，只要虔誠篤信旱溪媽，能得到「旱溪媽」豐厚的庇祐。
    </p>
    <p>
      俗諺：「旱溪媽祖大旗腳」。此句話意思是，媽祖出巡時都有「大旗」的陣頭，遠遠望去媽祖正好在大旗之下，所以有了這句話的說法。據北管薪傳獎藝師林水金老師及樂成宮董事陳文雨先生指出，當時遶境地區，都有數組大旗的團體謂之「彩旗鼓」，乃由七人所組成的鑼鼓陣，最前一人舉大旗，另揹鼓一人，打鼓一人，及四銅（大鈔、小鈔、響盞、小鑼各一人），而當時彩旗鼓再相互較勁之下常會有「拼陣」的現象發生，各陣頭會以不同鼓蕊（鼓譜）如洗馬、哭相思、三不合、五箸頭、加冠蕊、舊空排…等來展現其鼓藝與眾不同之處，所謂「輸人不輸陣，輸陣歹看面」。遶境隊伍有「大旗」百餘面，且陣頭有獅陣、騎布馬、公揹婆、採茶歌、牛犁仔陣…等，參加隊伍之龐大可想而知。
    </p>
    <p>
      俗諺：「下哩仔無吃，阿密哩吃無，五張犁偷請媽祖婆」、「瓦磘無吃，詹厝園吃無，大突寮偷請媽祖婆」，乃當時經濟較差吃無，五張犁趁陣頭未出發之前先偷請媽祖婆遶境本庄，當陣頭到達時媽祖婆已遶完了境也就不用在宴請各陣頭，能省則省。其他各庄則由保正協調那些住戶宴請那些大旗成員，而那些沒有被分配到吃戶的大旗成員，則被戲稱為「漏屎旗」。
    </p>
    <p> 媽祖遶境十八庄，各庄也演大戲酬神，依傳統酬神戲均由同一戲班演出，而下哩仔及阿密哩為窮庄付不出戲金，然媽祖遶境又不能不酬神，戲班也就義務演出，展現臺灣濃郁的人情味。</p>
    <img src="./assets/icon/activity2.png" alt="">
    <p>
      據退休校長魏水明指出：「旱溪媽祖遶境十八庄」，大里及霧峰地區有一唸謠「塗城黑，草湖雨，阿罩霧爛糊糊，柳仔湳石頭路（或溪底路），吳厝庄一個堀，丁台仔拜拜咧家己囫。」、或「十一塗城黑，十二草湖雨，十三阿罩霧爛糊糊，十四柳仔湳石頭路（或溪仔底路），十五吳厝庄一個堀，十六丁台仔拜拜咧家己囫。」
    </p>
    <p>此類唸謠於旱溪媽祖遶境十八庄及臺中地區亦非常流傳，大里、烏日地區有「頂哩仔黑，下哩雨，五張犁爛糊糊，三十張犁好走，二分埔紅，賴廍曬死人」。</p>
    <p>
      農曆三月二十日，十八庄遶境完成，媽祖起駕回宮，當天旱溪當地居民均須備酒席，招待人數眾多的「大旗」成員及遠道而來的親友，早年庄民生活較為貧因，經濟狀況較差者，負擔太重，甚至將棉被、手耙拿去典當，再將所得準備飯食，招待「大旗」成員，庄民手中夾著鴨肉請「大旗」成員時，口中卻說著：「人客棉被夾去配」聊以自我解嘲。直至近期農曆三月二十日宴請大旗陣頭習俗，漸改至農曆三月二十三日媽祖生的當日，再擺桌宴請親友，遂有「旱溪媽祖吃尾餐」的說法。
    </p>
    <img src="./assets/icon/activity3.png" alt="">
    <p>
      「三月肖媽祖」當時旱溪媽祖遶境到某庄頭，庄頭便會宴請親友及陣頭，大臺中地區從農曆三月初一至農曆三月二十三日均有庄頭在宴客，盛況可想而知，當要去受宴時也會戲稱：「要去賣菱角」，誠如臺灣人所說「菱角嘴，沒吃大心氣」。另有一則說要去「逐雞」，雞隱喻「宴客」，意思是說地方上何處有宴客，便往何方跑之意。倘若宴客當天下起雨來，宴會無法舉行，人們便戲稱：「一隻雞，予跑入莿竹埔底去啦。」民國八十八年九二一大地震十八庄庄民傷亡慘重，庄民無心宴客，又臺灣經濟起飛、人民生活富裕，對受宴的渴望已不再，這流傳數百年的傳統也因而走入歷史。
    </p>
    <img src="./assets/icon/activity4.png" alt="">
    <img src="./assets/icon/activity5.png" alt="">
  </div>

</ion-content>
