ion-button{
  margin: 20px 20px;
}
a{
  margin: 20px 20px;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: #3880ff;
  color: #eee;
  border-radius: 8px;

}
