<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>設定</p>
  </div>

  <ion-item>
    <ion-label>切換深色模式</ion-label>
    <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
  </ion-item>
  <section>
    <ion-button expand="block" (click)="showStaff()">製作人員名單</ion-button>
  </section>
  <section>
    <a href="https://zh-tw.facebook.com/lechengtemple/" target="_blank">樂成宮FACEBOOK</a>
  </section>
  <section>
    <a href="#" target="_blank">樂成宮YOUTUBE</a>
  </section>
  <section>
    <a href="https://www.instagram.com/lechengtemple/" target="_blank">樂成宮Instagram</a>
  </section>
</ion-content>
