<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>

<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>消災樂捐</p>
  </div>
  <div class="alert" style="display: block;" id="top">
    <div id="navi">
      <div  style=" position:absolute;top:350px;left: 250px">
    </div>
    <ion-button (click)="close()">我同意</ion-button>
    </div>
    <div id="info">
      <img src="../../../../assets/images/warnpage.png">
    </div>
    </div>

<div id="container" style="text-align:center ;">
      <form action="" method="post">
        <div>
          <label for="">大德尊姓大名：</label>
          <input type="text" placeholder="請輸入大德姓名">
        </div>
        <div>
          <label for="">性別：</label>
          <input type="radio" name="sex" id="">善男
          <input type="radio" name="sex" id="">信女
        </div>
        <div>
          <label for="">大德誕辰：</label>
          <input type="date" placeholder="請輸入大德誕辰">
        </div>
        <div>
          <label for="">通訊地址：</label>
          <input type="text" placeholder="請輸入大德居住地址">
        </div>
        <div>
          <label for="">樂捐金額：</label>
          <input type="number" placeholder="請輸入捐獻金額(新台幣)" >
        </div>
        <div>
          <p>給廟方的話：</p><textarea placeholder="指定捐獻項目或迴向特定人士，請於此備註。"></textarea>
        </div>
       <input type="button" value="確定" >
      </form>
    </div>
</ion-content>
