<ion-header>
  <ion-toolbar>
    <ion-title>donate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display:{{displaytop}} ;" id="top">
<div id="navi">
  <div  style=" position:absolute;top:350px;left: 250px">
  <p >請注意  樂成宮廟方<b>不會</b>電話通知或要求您操作<b>ATM，</b></p><br>
  <p>如果接到可疑的電話或簡訊，告知匯款有問題，請立即撥打<b>反詐騙專線 165</b>報案求證。</p><br>
  <p>另外最近柬埔寨詐騙猖獗，請注意<b>天下沒有白吃的午餐</b>。謹防前往柬埔寨的各種工作。</p><br>
  <p>台中旱溪媽祖樂成宮 敬祝您闔家愉快</p>
</div>
<ion-button style=" position:absolute;top:650px;left: 450px" (click)="close()">我同意</ion-button>
</div>
<div id="info">
  <img src="../../../../assets/images/warnpage.png">
</div>
</div>
<div id="container" >

  5555
</div>


</ion-content>
