<ion-header>
  <img class="header" src="./assets/icon/至頂宮廟圖.png" alt="">
</ion-header>


<ion-content>
  <div class="titleBg">
    <img src="./assets/icon/標題素材.png" alt="">
    <p>收驚服務</p>
  </div>


      <ion-card>
        <form action="" method="post">
          <div>
            <label for="">姓名：</label>
            <input type="text" placeholder="請輸入祈福者姓名">
          </div>
          <div>
            <label for="">性別：</label>
            <input type="radio" name="" id="">男生
            <input type="radio" name="" id="">女生
          </div>
          <div>
            <label for="">時間：</label>
            <input type="radio" name="" id="">中午12點
            <input type="radio" name="" id="">下午5點
          </div>
          <div>
            <label for="">時間：</label>
            <input type="date">
          </div>
          <ion-button expand="block" size="small" color="secondary">確定</ion-button>
        </form>
      </ion-card>




  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
