<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger">

    <ion-tab-button tab="first">

      <ion-icon name="home"></ion-icon>

      <ion-label>首頁</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="news">

      <ion-icon name="document-text-outline"></ion-icon>

      <ion-label>最新消息</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="money">

      <ion-icon name="diamond-outline"></ion-icon>

      <ion-label>祈福專區</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="info">

      <ion-icon name="desktop-outline"></ion-icon>

      <ion-label>歷史介紹</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="contract">

      <ion-icon name="person-outline"></ion-icon>

      <ion-label>預約服務</ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
