


<ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button  (click)="showdraw()" >
      <ion-icon class="center" src="../../assets/svg/fortune-telling.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="first" class="first">
      <ion-icon class="first" src="../../assets/svg/in-home.svg"></ion-icon>
      <span>首頁</span>
    </ion-tab-button>

    <ion-tab-button tab="contract" class="comments">
      <ion-icon class="comments" src="../../assets/svg/in-calendar-lines-pen.svg"></ion-icon>
      <span>樂成服務</span>
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="money" class="notifs">
      <ion-icon class="notifs" src="../../assets/svg/candle.svg"></ion-icon>
      <span>添燈拜斗</span>
    </ion-tab-button>

    <ion-tab-button tab="info" class="info">
      <ion-icon class="info" src="../../assets/svg/temple3.svg"></ion-icon>
      <span>樂成介紹</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

